In [1]:
import sqlalchemy
import pymysql
import ta
import pandas as pd
import numpy as np

In [2]:
pymysql.install_as_MySQLdb()

In [3]:
engine = sqlalchemy.create_engine('mysql://root:GetzenMysql1!@localhost:3306')

In [6]:
def gettables(index):
    query = f"""SELECT table_name FROM information_schema.tables
    WHERE table_schema = '{index}'"""
    df = pd.read_sql(query, engine)
    df['Schema'] = index
    return df

In [9]:
nifty = gettables('Nifty50')

In [10]:
def getprices(index):
    prices = []
    for table, schema in zip(index.TABLE_NAME, index.Schema):
        sql = schema+'.'+f'`{table}`'
        prices.append(pd.read_sql(f"SELECT Date, Close FROM {sql}",engine))
        return prices

In [18]:
def macd_dec(df):
    df['MACD_diff'] = ta.trend.macd_diff(df.Close)
    df['Decision MACD'] = np.where((df.MACD_diff > 0) & (df.MACD_diff.shift(1) < 0), True, False)

In [14]:
def goldencross_dec(df):
    df['SMA20'] = ta.trend.sma_indicator(df.Close, window=20)
    df['SMA50'] = ta.trend.sma_indicator(df.Close, window=50)
    df['Signal'] = np.where(df['SMA20'] > df['SMA50'], True, False)
    df['Decision GC'] = df.Signal.diff()

In [20]:
def RSI_SMA_dec(df):
    df['RSI'] = ta.momentum.rsi(df.Close, window=10)
    df['SMA200'] = ta.trend.sma_indicator(df.Close, window=200)
    df['Decision RSI/SMA'] = np.where((df.Close > df.SMA200) & (df.RSI < 30), True, False)

In [21]:
def applytechnicals(name):
    prices = getprices(name)
    for frame in prices:
        macd_dec(frame)
        goldencross_dec(frame)
        RSI_SMA_dec(frame)
    return prices

In [23]:
applytechnicals(nifty)[0]

,Date,Close,MACD_diff,Decision MACD,SMA20,SMA50,Signal,Decision GC,RSI,SMA200,Decision RSI/SMA
0,2020-01-01,377.649994,NaN,False,NaN,NaN,False,NaN,NaN,NaN,False
1,2020-01-02,383.149994,NaN,False,NaN,NaN,False,False,NaN,NaN,False
2,2020-01-03,382.500000,NaN,False,NaN,NaN,False,False,NaN,NaN,False
3,2020-01-06,380.200012,NaN,False,NaN,NaN,False,False,NaN,NaN,False
4,2020-01-07,384.799988,NaN,False,NaN,NaN,False,False,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
637,2022-07-22,754.250000,6.709725,False,712.597501,715.805001,False,False,72.048737,742.2725,False
638,2022-07-25,749.950012,5.740058,False,715.707501,716.554001,False,False,67.669550,742.3025,False
639,2022-07-26,749.099976,4.719670,False,719.260001,716.641001,True,True,66.778035,742.4280,False
640,2022-07-27,760.650024,4.501569,False,723.402502,716.658002,True,False,72.289673,742.5505,False
641,2022-07-28,764.500000,4.296097,False,728.025003,717.292002,True,False,73.893772,742.6735,False