In [2]:
import sqlalchemy
import pymysql

In [3]:
pymysql.install_as_MySQLdb()

In [4]:
indices = ['Nifty50','RTSI','Bovespa']

In [5]:
def schemaCreator(index):
    engine = sqlalchemy.create_engine('mysql://root:GetzenMysql1!@localhost:3306/')
    engine.execute(sqlalchemy.schema.CreateSchema(index))

In [6]:
for i in indices:
    schemaCreator(i)

In [7]:
import pandas as pd

In [9]:
nifty = pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[1]
bovespa = pd.read_html('https://en.wikipedia.org/wiki/List_of_companies_listed_on_B3')[0]
rts = pd.read_html('https://en.wikipedia.org/wiki/RTS_Index')[1]

In [11]:
nifty = nifty.Symbol.to_list()

In [13]:
bovespa = bovespa.Ticker.to_list()

In [14]:
rts = rts['Ticker symbol'].to_list()

In [16]:
bovespa = [i+'.SA' for i in bovespa]

In [25]:
nifty = [i+'.NS' for i in nifty]

In [18]:
rts = [i+'.ME' for i in rts]

In [19]:
import yfinance as yf

In [27]:
mapper = {'Nifty50':nifty, 'Bovespa':bovespa, 'RTSI':rts}

In [28]:
for index in indices:
    engine = sqlalchemy.create_engine('mysql://root:GetzenMysql1!@localhost:3306/'+index)
    for symbol in mapper[index]:
        df = yf.download(symbol, start='2020-01-01')
        df = df.reset_index()
        df.to_sql(symbol, engine)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

ValueError: Table 'AFKS.ME' already exists.