In [1]:
import sqlalchemy
import pymysql
import ta
import pandas as pd
import numpy as np

In [2]:
pymysql.install_as_MySQLdb()

In [3]:
engine = sqlalchemy.create_engine('mysql://root:GetzenMysql1!@localhost:3306')

In [6]:
def gettables(index):
    query = f"""SELECT table_name FROM information_schema.tables
    WHERE table_schema = '{index}'"""
    df = pd.read_sql(query, engine)
    df['Schema'] = index
    return df

In [9]:
nifty = gettables('Nifty50')

In [10]:
def getprices(index):
    prices = []
    for table, schema in zip(index.TABLE_NAME, index.Schema):
        sql = schema+'.'+f'`{table}`'
        prices.append(pd.read_sql(f"SELECT Date, Close FROM {sql}",engine))
        return prices

In [11]:
getprices(nifty)

[          Date       Close
 0   2020-01-01  377.649994
 1   2020-01-02  383.149994
 2   2020-01-03  382.500000
 3   2020-01-06  380.200012
 4   2020-01-07  384.799988
 ..         ...         ...
 637 2022-07-22  754.250000
 638 2022-07-25  749.950012
 639 2022-07-26  749.099976
 640 2022-07-27  760.650024
 641 2022-07-28  764.500000

 [642 rows x 2 columns]]